/* Make all columns float left to position correctly */
.grid [class*='grid-col-'] { float: left; }

/* Make all columns float left and be padded */
.grid-pad [class*='grid-col-'] { padding-right: 20px; }

/* Don't pad the last column in a row */
.grid-pad [class*='grid-col-']:last-of-type { padding-right: 0px; }

/* Our main grid class, hidding overflow */
.grid {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/* Clearfix for floating elements in grid */
.grid:after {
    content: "";
    display: table;
    clear: both;
}

/* Main content columns */
.grid-col-1-1 					{ width: 100.000000%; }
.grid-col-2-3, .grid-col-8-12 	{ width: 066.666666%; }
.grid-col-1-2, .grid-col-6-12 	{ width: 050.000000%; }
.grid-col-1-3, .grid-col-4-12 	{ width: 033.333333%; }
.grid-col-1-4, .grid-col-3-12 	{ width: 025.000000%; }
.grid-col-1-5 					{ width: 020.000000%; }
.grid-col-1-6, .grid-col-2-12 	{ width: 016.666666%; }
.grid-col-1-7 					{ width: 014.285714%; }
.grid-col-1-8 					{ width: 012.500000%; }
.grid-col-1-9 					{ width: 011.111111%; }
.grid-col-1-10 					{ width: 010.000000%; }
.grid-col-1-11 					{ width: 009.090909%; }
.grid-col-1-12 					{ width: 008.333333%; }

/* Main layout Columns */
.grid-col-11-12 				{ width: 091.666666%; }
.grid-col-10-12 				{ width: 083.333333%; }
.grid-col-9-12 					{ width: 075.000000%; }
.grid-col-5-12 					{ width: 041.666666%; }
.grid-col-7-12 					{ width: 058.333333%; }

/* Container (used with grid mostly) */
.container {
    position: relative;
}