section.grid.container
	.shadow-box.page-content
		.main-content
			p.
				The Green Abode chat area allows you to communicate with other homeowners and ask questions.
			p.
				Please do not abuse the chat area, or you will be banned. 
			p.
				Commands:
			ul
				li.
					<b>!nick [username]</b> - Change your username
				li.
					<b>!video</b><span class='beta'>beta</span> - Add video to the chat
	.shadow-box.page-content.chat-container
		.videos#videos(data-enabled='false')
			video#localVideo(data-visible='false')
		.main-content
			.chat-area#chat-area(data-video='false')
		.chat-cmd
			input.chat#chat(type='text', placeholder='Chat here')
			button.chat-submit#chat-submit="Send"
		
