.grid.container
	header.shadow-box.page-header
		h1.
			Home Efficiency
		img.header-img(src="/Assets/Images/House.png", alt='Home Efficiency', style="max-width:532px;")
		br
		img(src='/Assets/Images/CC_Inverted.png', alt='Creative Commons Logo')
		span.photo-credit.
			by <a href="http://www.flickr.com/photos/brewbooks/330562906/">brewbooks</a>
		a(name="tabs")
	section.shadow-box.page-content
		nav.tabs
			.grid-col-1-4.tab
				a(href="Getting-Started#tabs", class=(tab == 'Getting-Started' ? 'active' : ''))="Getting Started"
			.grid-col-1-4.tab
				a(href="Passive-Solar#tabs", class=(tab == 'Passive-Solar' ? 'active' : ''))="Passive Solar"
			.grid-col-1-4.tab
				a(href="Water-Smart#tabs", class=(tab == 'Water-Smart' ? 'active' : ''))="Water Smart"
			.grid-col-1-4.tab
				a(href="Your-Home#tabs", class=(tab == 'Your-Home' ? 'active' : ''))="Your Home"
		article.main-content(class=(tab == "Getting-Started" ? "" : "hidden"), data-tab='Getting Started')
			p.
				To be energy efficient you must reduce your energy consumption by using efficient appliances and implementing energy-saving strategies. Swapping out incandescent lightbulbs with compact fluorescents or LEDs and increasing insulation levels in your house are good examples of energy saving strategies. 
			p.
				The best way to start towards a more affordable and environmentally sound home is by increasing the energy efficiency of your home. According to experts, they estimate that you get $3 for every one dollar you spend on your renewable energy project.
			p.
				A good first place to start would be by improving your home’s insulation and reducing air infiltration. This is possible by sealing areas of your home that are susceptible to air infiltration such as window cracks, under doors, etc. By doing this you reduce the ventilation, heating, and air-conditioning needed to maintain a comfortable temperature in your home. A good thing to implement in your energy efficient home would be moveable shading devices; they can help heat and cool your home.
			p.
				In terms of lighting, LED is the way to go. They use one-tenth of the energy and last up to 40 times as long. They also contain none of the hazardous mercury present in compact fluorescent bulbs.
			p.
				Finally, there are things in your home that waste energy, also known as phantom loads. These phantom loads are caused by many electrical appliances in your home which draw electricity even when “off”. Unplugging them, putting them on plug strips that can be switched off, or using dedicated switches can defeat these phantom loads and provide additional energy savings.
		article.main-content(class=(tab == "Passive-Solar" ? "" : "hidden"), data-tab='Passive Solar')
			p.
				Passive solar design can make a home more comfortable in every season. The winter sun can warm a home's interior, while simple shading and thermal mass strategies can prevent summer overheating.
			p.
				Seeking summertime shade is a good way to keep your house cool. Overhangs, awnings, and porches can shade windows in certain seasons and prevent the home from overheating. For cold climates, design overhangs for a long season of full sun striking the south glass. Overhangs and shading devices should shade south-facing windows during the summer months, and allow full sun on windows during the wintertime. For hot climates, design overhangs for a long season of full shade on the south glass.
			p.
				Take advantage of natural light. Daylighting in homes is typically accomplished using windows, translucent doors, skylights, light pipes (tubular skylights), and clerestories. Using sunlight in your home can decrease heating and cooling loads through passive solar design techniques, as well as eliminate most lighting needs during the day. Designing a daylit home can be very simple. In most regions, provide a long south wall of windows and locate the main living spaces along the south side to take advantage of direct solar gain in the wintertime. In the summer, adequately deep, fixed overhangs will block heat gain but still allow indirect light to enter the windows.
		article.main-content(class=(tab == "Water-Smart" ? "" : "hidden"), data-tab='Water Smart')
			p.
				Whether you’re on or off-grid, household water-saving strategies are a smart idea, both from a resource and energy-savings standpoint. According to the U.S. Environmental Protection Agency (EPA), "the average household spends as much as $500 per year" on water and sewer bills. By changing the way water is used, the EPA estimates that the average household could whittle their water expenses by about 30%.
			p.
				25% of the daily indoor water use is accounted for by toilets. Toilets older than 1992 most likely use too much water and should be swapped out. In 1992, federal legislation mandated that all toilets manufactured or imported into the United States be 1.6 gpf (gallons per flush) or lower. With today’s technology this is made even easier with toilets going to as low as .8 gpf.
			p.
				Changing your washing machine may also be a good idea. If your machine is 10 years or older you may want to consider replacing it for both energy and water savings. A model with a high modified energy factor (MEF) and a low water factor (WF) would be a good choice.
			p.
				Saving the rain is a wonderful way to help reduce the water consumption of outdoor activities, such as watering various plants. You can do this by collecting water in rain barrels which connect to the downspouts of your homes. Rain barrels are some of the simplest and least expensive rain water saving devices.
			p.
				In your daily life, there is a type of water called grey water. This type of water is water discharged from bathroom showers and sinks, washing machines, and kitchen sinks. In some areas, this water is permitted to be conveyed separately from toilet water and can be used in the landscape.
		article.main-content(class=(tab == "Your-Home" ? "" : "hidden"), data-tab='Your Home')
			p.
				Electricity must be purchased for the rest of our lives in order to power our modern lives. But how nice would it be if you were able to lock in your rate and eventually not have a rate at all? Increasing your home’s value, taking advantage of utility rebates, tax incentives, and that nice warm fuzzy feeling you get from investing in clean, green energy is only the tip of the iceberg of rewards for switching to clean sources of energy.
			p.
				Remove all phantom loads! Phantom loads (energy used by appliances that are “off” but still use energy)  are one of the leading causes for increased power usage in households. Why pay for power you’re not even using? Make sure you unplug appliances or plug them into a strip that can be turned off to limit the amount of phantom loads produced.
			p.
				If it’s too much trouble to go through your whole house and measure where you can improve and where you’re pretty well off, call a home energy auditor! They gather information about everything from insulation, windows, water heater, to things such as air-conditioning, dimensions, heating, and all sorts of things that’s important to energy use. This will help allow you to put your money into those improvements that will save the most energy!
			p.
				A worthy goal for any eco-friendly enthusiast would be to get your home to zero net-energy use. That means your home meets all of its energy requirements from low-cost, locally available, non-polluting, renewables sources. We are glad to have been part of your journey to make this goal a reality!
