header.carousel-container
	.grid.container
		.carousel#carousel
			ul#carousel-ul
			a.carousel-next#carousel-next(href='#')
				span &rsaquo;
			a.carousel-prev#carousel-prev(href='#')
				span &lsaquo;
			p.carousel-pagination#carousel-pagination
			.carousel-credit
				img(src="/Assets/Images/CC.png", alt='Creative Commons Logo')
				span.
					by <a href="#" target="_blank" id="carousel-credit">Author</a>
section.grid.container
	.shadow-box.page-content
		.main-content
			p.
				Only when the last tree has died, the last river has been poisoned, and the last fish has been caught, will we realize that we cannot eat money? Here at Green Abode, we have dedicated ourselves to helping you make the world a better place. Only by taking small steps and venturing into the world of clean energy will we be one step closer to preserving our planet. To help you do so, we have gathered everything you need to know about starting your very own eco-friendly home! Our site covers many aspects of clean energy such as solar electricity, wind power, and home efficiency with great detail.