.grid.container
	header.shadow-box.page-header
		h1.
			Solar Electricity
		img.header-img(src="/Assets/Images/Solar.png", alt='Solar Electricity', style="max-width:660px;")
		br
		img(src='/Assets/Images/CC_Inverted.png', alt='Creative Commons Logo')
		span.photo-credit.
			by <a href="http://www.flickr.com/photos/usfwsmtnprairie/5434754208/">USFWS Mountain-Prairie</a>
		a(name="tabs")
	section.shadow-box.page-content
		nav.tabs
			.grid-col-1-4.tab
				a(href="Information#tabs", class=(tab == 'Information' ? 'active' : ''))="Information"
			.grid-col-1-4.tab
				a(href="Why-Solar#tabs", class=(tab == 'Why-Solar' ? 'active' : ''))="Why Solar?"
			.grid-col-1-4.tab
				a(href="Implementation#tabs", class=(tab == 'Implementation' ? 'active' : ''))="Implementation"
			.grid-col-1-4.tab
				a(href="Getting-Started#tabs", class=(tab == 'Getting-Started' ? 'active' : ''))="Getting Started"
		article.main-content(class=(tab == "Information" ? "" : "hidden"), data-tab='Information')
			p.
				Solar electricity is a durable, simple, and effective way to make electricity from sunlight. This process would involve photovoltaic modules, or PV modules. These are able to sit in the sun, completely static, and generate electricity that could possibly charge your batteries, run your appliances, or make energy for a utility grid.
			p.
				PV arrays are able to create electricity from absorbing some of the photons in sunlight. They the take the photons’ energy and transfer it to an electron in the semiconductor material. This is called the photovoltaic effect which was discovered by Alexandre-Edmund Becquerei in 1839.
			p.
				Two basic categories, crystalline silicon and thin-film, make up most of PV cells. Crystalline silicon modules can be fashioned from either monocrystalline, multicrystalline, or ribbon silicon. Thin-film is a term encompassing a range of different technologies that include amorphous silicon and a host of variations using other semiconductors like cadmium telluride or CIGS (copper indium gallium diselenide). Currently crystalline modules capture more than 80% of the marketplace.
			p.
				There are many other aspects needed to use energy from an array. You may need components such as inverters, charge controllers, and batteries. These components help make up a solar-electric system.
		article.main-content(class=(tab == "Why-Solar" ? "" : "hidden"), data-tab='Why Solar?')
			p.
				The better question is, why wouldn’t you? If you switch to PV systems, they produce clean energy for multiple decades AFTER they pay back the cost it took to install them in three or fewer years. There’s no environmental footprint left from producing this energy, whereas burning fuel and coal is bad for the environment. Unlike grid electricity, energy derived from PV systems are essentially free and the only payment you make would be at the time you install the system.
			p.
				If you make it to become completely off grid, that would mean you are independent. Being independent is one of the best reasons for switching to an off-grid PV system. This means that you will not be subjected to blackouts, brownouts, rate increases, and other nuances that come with getting energy from a grid. It may also be cheaper to have an off-grid PV system if you want to live in a rural area, whereas having a utility line extended may cost more.
			p.
				Overall, PV systems are much more reliable and require much less maintenance than generators due to how they are completely static after installation.
		article.main-content(class=(tab == "Implementation" ? "" : "hidden"), data-tab='Implementation')
			p.
				Before we start thinking about implementing solar electricity, let’s first see if this is a good idea:
			ol
				li.
					Interested in clean power?
				li.
					Already on the grid?
				li.
					Infrequent utility outages?
				li.
					Have a sunny location to mount PV modules?
			p.
				If you can answer yes to all of these questions, then you are in a good situation to start a batteryless grid-tied PV system.
			p.
				What this means is that your PV modules will be only offsetting some of your electrical usages. This system can offer best price to payback ratio available. This system is cheaper, it operates more efficient than battery-based systems, and is easier to install and maintain. However, this method should also be coupled with quality energy usage reduction. You should be changing how you use electricity, such as leaving lights on only when necessary, reducing phantom loads, and using energy efficient appliances.
			p.
				A noble ambition for all would be an off-grid system. That means that 100% of your electricity would be coming from some source of clean energy and not through a utility pole. This is much more challenging and designing this type of system is much more different than a batteryless grid-direct system. This system must be able to meet your energy requirements for every single day of the year, instead of just an annual demand. That would mean that your system must be ready for seasonal energy usage, including location and availability of the sun.
		article.main-content(class=(tab == "Getting-Started" ? "" : "hidden"), data-tab='Getting Started')
			p.
				To improve your rate of return, smart design and proper planning will help you get the most out of your PV system. Array tilt, seasonal adjustments, orientation, and array sitting can all affect returns. The amount of energy produced from a PV system is directly proportional to the amount of sunlight the system receives. However, bottom line is that in order for this to work, there needs to be proper installation.
			p.
				Are you going to hire a licensed professional to set it up for you? Or attempt to install it yourself? Is it worth saving the amount of money required to hire a licensed professional instead of doing it yourself? What skills/tools will you need to set it up yourself? These are all questions you should be thinking about as you go about setting up your own system. We don’t mean to put a damper in your ego, but realistically most of us do not have the right skill-set or tools to set up our own system. It isn’t rocket science, however. You must realistically assess yourself.
			p.
				This is a growing market. If you are able to install your own system you may want to consider a career in the PV industry. With the right area and the right training, government funding and decreasing component costs, now is the right time to think about a career shift. A workshop or two may be all you need before pursuing some sort of certification/credentials needed to make a career in this industry. Designing these types of systems can also be quite simple, with many efficient designs already displayed online. These courses are not inexpensive nor short, but will prove quite rewarding in the long run. 