.grid.container
	header.shadow-box.page-header
		h1.
			Wind Power
		img.header-img(src="/Assets/Images/Wind.png", aler='Wind Power', style="max-width:620px;")
		br
		img(src='/Assets/Images/CC_Inverted.png', alt='Creative Commons Logo')
		span.photo-credit.
			by <a href="http://www.flickr.com/photos/60094033@N08/7669950588">Simon Harrod</a>
		a(name="tabs")
	section.shadow-box.page-content
		nav.tabs
			.grid-col-1-4.tab
				a(href="Information#tabs", class=(tab == 'Information' ? 'active' : ''))="Information"
			.grid-col-1-4.tab
				a(href="Why-Wind#tabs", class=(tab == 'Why-Wind' ? 'active' : ''))="Why Wind?"
			.grid-col-1-4.tab
				a(href="Implementation#tabs", class=(tab == 'Implementation' ? 'active' : ''))="Implementation"
			.grid-col-1-4.tab
				a(href="Getting-Started#tabs", class=(tab == 'Getting-Started' ? 'active' : ''))="Getting Started"
		article.main-content(class=(tab == "Information" ? "" : "hidden"), data-tab='Information')
			p.
				Wind is one of the oldest sources of power used by man. It can be dated back to various ancient civilizations in the form of windmills and other wind driven machines. Today, we use wind to generate electricity with wind turbine towers.
			p.
				Many different types of turbines are utilized for commercial and corporate use. The three most common towers used in residential systems are the freestanding woer, the fixed-guyed tower, and the tilt-up tower. Freestanding towers are the most expensive but at the same time are also the most safe. They can we installed close to your residence and are relatively easy to maintain. Fixed-guyed towers are a lot cheaper but it requires you to climb up to the turbine to fix and maintain. Tilt-up towers can be maintained and fixed from the ground but requires an expansive area to operate. These three towers are generally the cheapest turbine towers available to residential areas.
			p.
				In addition to the turbines, residential wind electricity also requires controls, wiring, an inverter, and other equipment to control and use the electricity generated. Furthermore, placement and environmental factors also need to be contemplated. The amount of power you get from a wind turbine increases with the speed and directionality of the wind. The higher up your turbine is, the higher the wind speed is. In addition to wind speed, the type of generator you use also affects the amount of power you get from your turbine. Most homes use permanent magnet generators. It is important to understand that a wind power system includes all components needed to generate and use electricity and not just the turbine tower.
		article.main-content(class=(tab == "Why-Wind" ? "" : "hidden"), data-tab='Why Wind?')
			p.
				The prominent reasons people decide to switch to wind power include reliability, environmental, and financial factors. Not only is wind power more environmentally friendly but can also be cheaper and more reliable than traditional power sources.
			p.
				Wind turbines can provide a more reliable power source and can even be a backup for electric lines incase of a power outage or storm. Many people who rely on electricity to power medical devices and other essential machines can count on wind power in these situations to provide power.
			p.
				Wind power is also an alternative to coal and other environmentally damaging power sources. A majority of our electricity comes from burning coal in power plants. Mining coal can cause a negative effect on the environment. Methods of mining coal include shaft mining, strip mining and pit mining, all of which can damage the ground and water sources. Furthermore, coal mining has proven dangerous and unhealthy for ecosystems near the mines as well as local residents. Wind power provides a more environmentally friendly way to get power. Wind is renewable and turbine towers have a negligible effect on the surrounding ecology. Switching to wind is a great way for people to help benefit the environment.
			p.
				Likewise, switching to wind power can also be a smart choice financially. Wind electricity systems can potentially be a more cost effective method to get electricity for people off the power grid. Wind power is many times cheaper in the long run than extending power lines. Thus, switching to wind power is a legitimate option to many landowners.

		article.main-content(class=(tab == "Implementation" ? "" : "hidden"), data-tab='Implementation')
			p.
				After you have decided to switch to wind power, the next part of the process is to research and decide what type of utilization system you want to implement. The type of system you want is dependent on whether or not you want to be on the grid.
			p.
				For people who aren’t on the power grid, the off-grid system uses batteries to store excess wind power and acts as a buffer during times where the wind isn’t as strong. These types of systems can provide all the power needed for the residence by itself. The down side to this type of systems is the inability to utilize surplus power once your battery is full. Therefore, if your turbine is producing more power than you are using, the extra power is wasted.
			p.
				For people who are on the power grid, there are two options that can be implemented: a batteryless system and a battery based system. Like the name suggests, a batteryless systems does not use a battery to store surplus power, and instead gives you the option to sell all of it to utility companies who buy it through the power grid. The down side to this system is that in the case of a power shortage from your turbine, you have no battery to act as a buffer and provide you power. What you will have to do in these instances is to use electricity supplied by power lines. A batteryless system, however, is the most ecologically friendly system, as well as the most cost effective.
			p.
				On the other hand, a battery based system allows you to store excess electricity in a battery as well as sell surplus power to the electrical companies. This set up is more practical than the other one but the tradeoff is that it is less ecologically friendly since the use of a battery is a needed.
		article.main-content(class=(tab == "Getting-Started" ? "" : "hidden"), data-tab='Getting Started')
			p.
				Starting a wind electricity system is hard and intimidating which is why it is recommended to hire the help of a professional for planning and building a wind turbine. Before contemplating what turbine tower to get, or what implementation system to use, the first thing you should do is determine whether or not wind power is a smart option for your geographical location. Most times it takes experience and weather data to determine the best place to place your turbine. Your geographic location can determine many factors such as how high to place the tower and what type of wind turbine will be the most effective.
			p.
				In addition to asking yourself if a wind turbine is viable in your location, you should decided whether a wind turbine is energy efficient compared to traditional energy sources. In terms of cost calculations, take into account the whole system. Many people often underestimate the cost of switching to wind power due to the fact that they forget to factor in the wiring, inverters and other parts of the system which can sometimes cost quite a bit. It is also important to realize that a wind turbine requires annual maintenance.
