/* Actual chat messages */
.chat-area {
	height: 300px;
	margin-bottom: 50px;
	overflow: hidden;
	overflow-y: scroll;
	-webkit-transition: height 1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
       -moz-transition: height 1s ease-out;  /* Firefox 4-15 */
         -o-transition: height 1s ease-out;  /* Opera 10.50–12.00 */
            transition: height 1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

.chat-area[data-video=true] {
	height: 150px;
}

/* Contains all chat stuff */
.chat-container {
	position: relative;
}

/* Chat command fill area */
.chat-cmd {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 50px;
}

/* Chat input box */
.chat {
	font-size: 1.6em;
	font-weight: 400;
	width: 100%;
	height: 100%;
	color: rgb(75, 75, 75);
	padding: 9px;
	padding-right: 140px;
	border: none;
	margin: 0;
	outline: none;
	border-top: 1px solid #ccc;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Chat submit button */
.chat-submit {
	font-size: 1.6em;
	font-weight: 400;
	color: rgb(0, 0, 0);
	z-index: 99;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 140px;
	outline: none;
	height: 100%;
	border: none;
	border-left: 1px solid #ccc;
	background: none;
	border-bottom-right-radius: 5px;
}

/* Origin of message */
.chat-origin {
	font-weight: 600;
}
.chat-origin[data-type=green] {
	display: none;
}

.chat-msg[data-type=green] {
	font-style: italic;
}

.chat-origin[data-type=error], .chat-msg[data-type=error] {
	color: rgb(255, 100, 100);
}
.chat-origin[data-type=green], .chat-msg[data-type=green] {
	color: rgb(120, 190, 30);
}
.chat-origin[data-type=info], .chat-msg[data-type=info] {
	color: rgb(100, 100, 255);
}

/* Hide the videos by default */
.videos {
	white-space: nowrap;
	text-align: center;
	background-color: #000;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-transition: height 1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
       -moz-transition: height 1s ease-out;  /* Firefox 4-15 */
         -o-transition: height 1s ease-out;  /* Opera 10.50–12.00 */
            transition: height 1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
.videos[data-enabled=false] {
	height: 0px;
}
.videos[data-enabled=true] {
	height: 240px;
}

video {
	height: 240px;
	-webkit-transition: opacity 1s ease-out;  /* Chrome 1-25, Safari 3.2+ */
       -moz-transition: opacity 1s ease-out;  /* Firefox 4-15 */
         -o-transition: opacity 1s ease-out;  /* Opera 10.50–12.00 */
            transition: opacity 1s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}
video[data-visible=false] {
	opacity: 0;
}
video[data-visible=true] {
	opacity: 1;
}

.beta {
	font-weight: bold;
	vertical-align: super;
	color: #FF0000;
	font-size: .7em;
}